#loader{
	background-color: #000;
}
header{
	background-color: #000;
}
body{
	background-color: #000;
}
.fl ul li{
	background-color: #131313;
}
.kzsx li{
	background-color:#131313;
}
button{
	color: #000;
}
#c{
	background-color: #131313;
}
.zs ul li div{
	background-color: #131313;
}