#loader{
	background-color: #fff;
}
header{
	background-color: #fff;
}
body{
	background-color: #fff;
}
.fl ul li{
	background-color: #fff;
}
.kzsx li{
	background-color: #fff;
}
button{
	color: #fff;
}
#c{
	background-color: #fdfdfd;
}
.zs ul li div{
	background-color: #fdfdfd;
}